<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行文系统后台界面</title>
<link rel="stylesheet" href="./css/reset.css">
<link rel="stylesheet" href="./css/adm.css">
</head>
<body>
    <header>
        <h1>用户密码修改界面</h1>
        <div class="nav">
        [<a href="./newxw.php">首页</a>·<a href="./loginoff.php">注销</a>]
        </div>
    </header>
    <div id="main">
        
        <div id="rside">
            <form action="" method="post">
                <div class="form-group">
                    <label>原密码</label>
                    <p>
                        <input type="password" name="old_nbxw_pswd" value="">
                    </p>
                </div>

                <div class="form-group">
                    <label>修改密码</label>
                    <p>
                        <input type="password" name="new_nbxw_pswd1" value="">
                    </p>
                </div>
                <div class="form-group">
                    <label>确认密码</label>
                    <p>
                        <input type="password" name="new_nbxw_pswd2" value="">
                    </p>
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <p>
                        <button type="submit">提交</button>
                    </p>
                </div>
            </form>
        </div>
    </div>
    <footer>
        MingYuefusu<br>2019
    </footer>
</body>
</html>